.bg-home {
    .au-heading {
        .au-title {
            color: #ffffff;
            font-size: 64px;
            line-height: 87px;
            text-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
        }
        .au-description {
            color: #fff;
        }
    }
}

.bg-btns {
    text-align: center;
    display: flex;
    .bg-btn {
        width: 50%;
        &:last-child {
            padding-left: 5px;
            text-align: left;
        }
        &:first-child {
            padding-right: 5px;
            text-align: right;
        }
        &.btn-blue {
            a {
                background-color: #2980b9;
            }
        }
        &.btn-green {
            a {
                background-color: #16a085;
            }
        } 
        a {
            border-radius: 5px;
            color: #ffffff;
            display: inline-block;
            font-weight: 600;
            line-height: 18px;
            padding: 15px 53px;
            font-size: 13px;
            text-transform: uppercase;
            position: relative;
            z-index: 0;
            font-family: "Open Sans";
            &:hover {
                opacity: 0.9;
            }
        }
    }
}

.bg-scroll {
    animation: 100s bgscroll infinite linear;
    background-repeat: repeat-x !important;
}

@keyframes bgscroll {
    100% {
        background-position: 3000px 0px;
    }
}

@media (max-width: 767px) {
    .bg-home {
        &.style-2 {
            padding: 200px 0;
            .bg-btns {
                flex-wrap: wrap;
                .bg-btn {
                    width: 100%;
                    padding: 0 !important;
                    text-align: center !important;
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .bg-home {
        padding: 150px 0 60px;
    }
}

@media (max-width: 480px) {
    .bg-home {
        padding: 100px 0px;
    }
}