// Category
.au-categories {
    line-height: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
    .item-category {
        height: 170px;
        width: 170px;
        border-radius: 5px;
        background-color: #34495E;
        box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.3);
        display: inline-block;
        color: #fff;
        padding-top: 27px;
        margin: 7px 6px 20px 6px;
        .category-icon {
            font-size: 48px;
        }
        .category-title {
            margin: 0 0 8px;
            a {
                font-size: 13px;
                font-weight: 600;
                line-height: 18px;
                color: #fff;
            }
        }
        .total-jobs {
            opacity: 0.5;
        }
        &:hover {
            background-color: #2980B9;
        }
        &.all-categories {
            background-color: #2980B9;
            position: relative;
            .item-category-inner {
                border: 1px dashed #fff;
                border-radius: 4px;
                box-sizing: border-box;
                display: inline-block;
                height: 140px;
                left: 15px;
                margin: 0;
                position: absolute;
                top: 15px;
                width: 140px;
            }
            .category-title {
                margin: 0;
                height: 140px;
                line-height: 140px;
                text-transform: uppercase;
            }
        }
    }
    &.style2 {
        justify-content: unset;
        display: unset;
        justify-content: unset;
        text-align: unset;
        .item-category {
            height: unset;
            width: 100%;
            padding: 25px 15px 25px;
            border: 1px #eeeeee solid;
            margin: 0 0 30px 0;
            position: relative;
            z-index: 0;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: none;
            transition: all 0.3s ease;
            .category-icon {
                width: 100px;
                float: left;
                font-size: 60px;
                position: relative;
                z-index: 2;
                background: url(../images/bg-category.png) no-repeat;
                background-size: cover;
                text-align: center;
                padding: 20px 0;
                transition: color 0.3s ease;
                color: #2980B9;
            }
            .category-info {
                padding-left: 115px;
                position: relative;
                z-index: 2;
                .category-title {
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    margin-top: 20px;
                    line-height: 1.5;
                    a {
                        font-size: 16px;
                        font-weight: 700;
                        color: #737373;
                        transition: color 0.3s ease;
                    }
                }
                .total-jobs {
                    opacity: 1;
                    font-size: 13px;
                    transition: color 0.3s ease;
                    color: #2980B9;
                }
            }
            &:hover {
                background-color: #2980B9;
                .category-icon {
                    color: #fff;
                }
                .category-info {
                    .category-title {
                        a {
                            color: #fff;
                        }
                    }
                    .total-jobs {
                        color: #fff;
                    }
                }
            }
        }
        .all-categories {
            text-align: center;
            margin: 30px 0;
            a {
                background: #16a085;
                font-size: 16px;
                font-weight: 700;
                padding: 9px 25px;
                text-transform: uppercase;
                color: #fff;
                border-radius: 5px;
                text-align: center;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
    &.style3 {
        justify-content: unset;
        display: unset;
        justify-content: unset;
        text-align: unset;
        .item-category {
            height: unset;
            width: 100%;
            padding: 50px;
            margin: 0 0 30px 0;
            background-size: cover;
            position: relative;
            background-color: transparent;
            box-shadow: none;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: inline-block;
                background: #2980B9;
                opacity: 0.8;
                z-index: 0;
            }
            .category-icon {
                z-index: 2;
                position: relative;
                float: left;
                font-size: 50px;
                color: #fff;
            }
            .category-info {
                z-index: 2;
                position: relative;
                padding-left: 80px;
                .category-title {
                    margin: 0 0 4px;
                    line-height: 1.5;
                    font-size: 24px;
                    a {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 600;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }
                .total-jobs {
                    color: #fff;
                    opacity: 0.7;
                    margin-bottom: 4px;
                }
                .view-more {
                    color: #fff;
                    display: inline-block;
                    border-bottom: 1px solid #fff;
                }
            }
            &:hover:after {
                background-color: #16a085;
            }
        }
    }
    &.style4 {
        justify-content: unset;
        display: unset;
        justify-content: unset;
        text-align: unset;
        .item-category {
            height: unset;
            width: 100%;
            background: rgba(246, 247, 249, 0.1);
            padding: 10px 80px 10px 30px;
            position: relative;
            margin-bottom: 10px;
            border-radius: unset;
            box-shadow: none;
            margin: 0 0 10px;
            a {
                font-weight: 600;
                line-height: 18px;
                color: #fff;
                text-transform: uppercase;
                white-space: nowrap;
            }
            span {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 48px;
                background: rgba(255, 255, 255, 0.1);
                font-weight: 600;
                font-size: 11px;
                text-align: center;
                padding: 10px 5px;
                color: #ffffff;
            }
            &:hover {
                background-color: #16a085;
            }
        }
    }
}

.au-heading {
    .category-description {
        text-align: center;
        color: #fff;
        font-size: 15px;
        line-height: 28px;
        img {
            margin: 5px 20px 0 0;
        }
    }
}