// employ-slider
.au-employers-slider {
    .employer-item {
        padding: 35px 10px 50px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 25px;
        overflow: hidden;
        position: relative;
        z-index: 0;
        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #ffffff;
            z-index: -1;
        }
        .employer-image {
            a {
                display: inline-block;
            }
            img {
                max-width: 60px;
                max-height: 60px;
                border-radius: 5px;
            }
        }
        .employer-title {
            margin: 15px 0 3px;
            a {
                font-size: 13px;
                font-weight: 600;
                color: #333;
                text-transform: uppercase;
                &:hover {
                    color: #2980b9;
                }
            }
        }
        .employer-locations {
            margin-bottom: 15px;
            a {
                color: #777;
                &:hover {
                    color: #2980b9;
                }
            }
        }
        .total-jobs {
            display: inline-block;
            padding: 0 12px;
            box-shadow: 0 3px 7px 0 rgba(41, 128, 185, 0.15);
            border-radius: 30px;
            font-weight: 500;
            height: 25px;
            line-height: 25px;
            color: #333;
            font-size: 11px;
            &:hover {
                color: #fff;
                background: #2980B9;
            }
        }
    }
    .owl-carousel {
        .owl-nav {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 35px;
            div {
                background: none;
                font-size: 18px;
                padding: 0 4px;
                margin: 5px;
                color: #fff;
                display: inline-block;
            }
        }
    }
}