.au-find-jobs {
    display: flex;
    justify-content: center;
    form {
        width: 84%;
        overflow: auto;
        .fields {
            display: flex;
            justify-content: center;
        }
        .field-item {
            width: 30%;
            height: 75px;
            font-size: 14px;
            margin-bottom: 15px;
            label {
                font-size: 11px;
                font-weight: 600;
                line-height: 15px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0;
                color: #fff;
            }
            i {
                color: #2980b9;
                position: absolute;
                top: 5px;
                left: 0;
                font-size: 14px;
                line-height: 18px;
            }
            .field-content {
                display: flex;
                flex-wrap: wrap;
                padding: 10px 25px;
                margin: 0 15px 0 0;
                height: 75px;
                position: relative;
                font-size: 12px;
                z-index: 0;
                border: none;
                background: rgba(0, 0, 0, 0.3);
                color: #ffffff;
                box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                &.select {
                    background-color: transparent;
                }
            }
            &.key-word {
                position: relative;
                .field-content {
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        z-index: -1;
                    }
                    &:hover:after {
                        border-width: 2px;
                        border-color: #2980b9;
                        border-style: solid;
                    }
                }
                .input-select {
                    height: 25px;
                    line-height: 25px;
                    position: relative;
                    padding: 0 0 0 32px;
                    input {
                        width: 100%;
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 13px;
                        border: none;
                        box-shadow: none;
                        background-color: transparent !important;
                        padding: 0;
                        border-radius: 0;
                        &::-webkit-input-placeholder {
                            color: #ffffff;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .select {
                i {
                    position: absolute;
                    bottom: 15px;
                    top: auto;
                    left: 30px;
                }
            }
            .select2 {
                border: none;
                background: rgba(0, 0, 0, 0.3);
                color: #ffffff;
                box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                z-index: 0;
                width: 100% !important;
                border-radius: 5px;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    z-index: -1;
                }
                &:hover:after {
                    border-width: 2px;
                    border-color: #2980b9;
                    border-style: solid;
                }
            }
        }
        .field-item-submit {
            padding: 0;
            font-size: 24px;
            color: #ffffff;
            border: none;
            height: 75px;
            margin-bottom: 15px;
            button {
                width: 70px;
                text-align: center;
                height: 100%;
                border: none;
                border-radius: 5px;
                margin: 0;
                position: relative;
                z-index: 0;
                box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
    .au-find-jobs-select {
        background: transparent !important;
        border: none !important;
        opacity: 0;
        width: 100%;
    }
    .select2-hidden-accessible {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
    }
    .select2 {
        .selection {
            left: 0;
            position: absolute;
            bottom: 4px;
            width: 100% !important;
            padding: 0 50px 0 60px;
            &.select2-selection--single {
                width: 100%;
                border: none;
                box-shadow: none;
                background-color: transparent !important;
                border-radius: 0;
                font-size: 12px;
                line-height: 28px;
            }
        }
    }
    .select2-container {
        .select2-selection--single {
            height: 40px;
            margin: 0 0 -4px;
            cursor: pointer;
            .select2-selection__rendered {
                line-height: 40px;
                width: 100%;
                border: none;
                box-shadow: none;
                background-color: transparent !important;
                padding: 0;
                border-radius: 0;
                color: #ffffff;
                opacity: 0.5;
                font-size: 13px;
                display: block;
                padding-left: 8px;
                padding-right: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .select2-selection__arrow {
                height: 26px;
                position: absolute;
                top: 7px;
                right: 14px;
                width: 40px;
                b {
                    border-color: rgba(255, 255, 255, 0.5) transparent transparent;
                    border-style: solid;
                    border-width: 5px 4px 0 4px;
                    height: 0;
                    left: 50%;
                    margin-left: 2px;
                    margin-top: -2px;
                    position: absolute;
                    top: 50%;
                    width: 0;
                }
            }
        }
    }
    .trending-keys {
        text-align: center;
        padding: 0 0 5px;
        margin-top: 10px;
        margin-right: 25px;
        line-height: 28px;
        span.title {
            color: #fff;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
        }
        a {
            color: #999;
            display: inline-block;
            padding-left: 20px;
            text-transform: uppercase;
            font-size: 11px;
            font-style: italic;
            &:hover {
                color: #2980b9;
            }
        }
    }
    &.style-2 {
        background-color: #fff;
        padding-top: 50px;
        position: relative;
        border-radius: 5px 5px 0 0;
        form {
            .field-item {
                label {
                    color: #2980b9;
                }
                .field-content {
                    background-color: #fff;
                    box-shadow: none;
                    border: 1px #eeeeee solid;
                }
                &.key-word {
                    .input-select {
                        input {
                            color: #777;
                            &::-webkit-input-placeholder {
                                color: #777;
                                opacity: 1;
                            }
                        }
                    }
                }
                .select2 {
                    background: none;
                    box-shadow: none;
                }
                .select2-container {
                    .select2-selection--single {
                        .select2-selection__rendered {
                            color: #777;
                            opacity: 1;
                        }
                    }
                    &:hover {
                        .select2-selection--single {
                            .select2-selection__rendered {
                                color: #2980b9;
                            }
                        }
                    }
                }
            }
        }
       
        .trending-keys {
            span.title {
                color: #333;
            }
        }
    }
}
@media (max-width: 991px) {
    .au-find-jobs {
        .fields {
            flex-wrap: wrap;
        }
        form {
            .field-item {
                width: 50%;
                padding: 0 8px;
                .field-content {
                    margin-right: 0;
                }
            }
            .field-item-submit {
                width: 50%;
                padding: 0 8px;
                button {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .au-find-jobs {
        form {
            width: 100%;
            .field-item {
                &.key-word {
                    .field-content {
                        .input-select {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .au-find-jobs {
        form {
            .fields {
                flex-wrap: wrap;
            }
            .field-item {
                width: 100%;
                .field-content {
                    margin-right: 0;
                }
                &.key-word {
                    .field-content {
                        .input-select {
                            width: 100%;
                        }
                    }
                }
            }
            .field-item-submit {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
    }
}