$facebook-color: #3b5998;
$twitter-color: #0084B4;
$google-plus-color: #DB4437;
$linkedin-color: #006fa6;
$color-default: #2980b9;
// footer
.footer {
    background-color: #2a363b;
    .main-footer {
        padding: 60px 0;
    }
    .sub-footer {
        padding: 20px 0;
        color: #fff;
        text-align: center;
        border-top: 1px rgba(255, 255, 255, 0.1) solid;
        p {
            margin: 0;
            line-height: 28px;
            a {
                color: #fff;
                &:hover {
                    color: #2980b9;
                }
            }
        }
    }
}
// footer-widget
.widget {
    padding-right: 35px;
    margin-bottom: 25px;
    .widget-title {
        height: 62px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        h3 {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 0;
        }
    }
    .widget-footer-info {
        p {
            line-height: (28/13);
            color: #989898;
            margin: 30px 0 20px;
        }
        .learn-more {
            color: #989898;
            display: inline-block;
            padding: 0 20px;
            border: 1px #404a4f solid;
            line-height: 20px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 30px;
            &:hover {
                color: #2980b9;
                background-color: #fff;
            }
        }
        .social-media.footer-social {
            margin: 30px 0 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 35px 0 20px;
            li {
                margin-right: 10px;
                margin-bottom: 5px;
                a {
                    line-height: 21px;
                    border-width: 2px;
                    border-style: solid;
                    &.facebook {
                        border-color: $facebook-color;
                    }
                    &.twitter {
                        border-color: $twitter-color;
                    }
                    &.google-plus {
                        border-color: $google-plus-color;
                    }
                    &.linkedin {
                        border-color: $linkedin-color;
                    }
                }
            }
        }
    }
    .widget-nav-menu {
        ul li {
            a {
                display: block;
                padding: 16px 0;
                color: #989898;
                &:hover {
                    color: $color-default;
                }
            }
            &:not(:last-child) a {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
    .widget-newsletter-form {
        form {
            .newsletter-desc {
                line-height: (28/13);
                color: #777;
                margin-bottom: 22px;
            }
            input,
            button {
                font-size: 11px;
                color: #ffffff;
                padding: 0 20px;
                height: 50px;
                line-height: 50px;
                text-transform: uppercase;
                box-shadow: none;
                text-align: center;
                width: 100%;
                margin-bottom: 20px;
                font-weight: 600;
            }
            .news-email {
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.1);
                opacity: 0.5;
            }
            button {
                background: #34495e;
                border: none;
                font-weight: 600;
            }
        }
    }
}