.au-funfact {
    color: #ffffff;
    text-align: center;
    padding: 55px 15px 50px;
    &.funfact-style-2 {
        padding: 0;
        margin-bottom: 30px;
    }
    .funfact-title {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 18px;
        margin: 0;
        text-transform: uppercase;
        color: #fff;
    }
    .funfact-number-wrap {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 5px;
        .funfact-number, .funfact-prefix {
            font-size: 72px;
            font-weight: 600;
            line-height: 98px;
            margin: 0 0 10px;
        }
    }
    .funfact-sub-title {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 18px;
        margin: 0;
        text-transform: uppercase;
    }
}

/* --- Responsive --- */

@media (max-width: 767px) {
    .au-funfact {
        .funfact-number-wrap {
            font-size: 24px;
            line-height: 26px;
        }
    }
}

@media (max-width: 480px) {
    .au-funfact.funfact-style-2 .funfact-number-wrap {
        .funfact-number, .funfact-prefix {
            font-size: 50px;
        }
    }
}