.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
    z-index: 999;
    .header-top-bar {
        padding: 12px 100px;
        position: relative;
        z-index: 9999;
        line-height: 20px;
        background: rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease 0s;
        .top-bar-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .contact {
                >span {
                    padding: 0 25px;
                    color: #fff;
                    position: relative;
                    display: inline-block;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    &:not(:last-child):after {
                        position: absolute;
                        content: "";
                        left: auto;
                        right: 0;
                        top: 4px;
                        height: 11px;
                        width: 1px;
                        background: rgba(255, 255, 255, 0.1);
                        display: inline-block;
                    }
                    span {
                        opacity: 0.5;
                        margin-left: 5px;
                    }
                }
            }
        }
        .top-bar-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #fff;
        }
    }
    .au-switch-language {
        margin-left: 20px;
        position: relative;
        color: #fff;
        &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 11px;
            display: inline-block;
            left: 0;
            top: calc(50% - 5px);
            background: rgba(255, 255, 255, 0.1);
        }
        .language-items {
            right: 0;
            min-width: 150px;
            position: absolute;
            top: 100%;
            padding-top: 15px;
            z-index: 9999999999;
            visibility: hidden;
            ul {
                margin: 0;
                padding: 12px 20px;
                background: #34495e;
                border-radius: 5px;
                position: relative;
                text-align: left;
                &:after {
                    position: absolute;
                    content: "\f365";
                    font-family: "Ionicons";
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    color: #34495e;
                    font-size: 25px;
                    line-height: 1px;
                    top: -4px;
                }
            }
            .language-item {
                padding: 0;
                transition: padding 0.3s ease 0s;
                line-height: 28px;
            }
        }
        .language-item {
            img {
                width: 25px;
                border-radius: 4px;
                margin-right: 7px;
            }
            a {
                color: #fff;
            }
            &.language-current-item {
                padding: 0 30px 0 20px;
                position: relative;
                cursor: pointer;
                &:after {
                    position: absolute;
                    content: "\f35f";
                    font-family: "Ionicons";
                    right: 15px;
                    color: #ffffff;
                    top: 2px;
                    opacity: 0.4;
                }
            }
        }
        &:hover {
            .language-items {
                visibility: visible;
                .language-item {
                    padding: 6px 0;
                    &.language-current-item:after {
                        opacity: 1;
                    }
                }
            }
            .language-item.language-current-item:after {
                opacity: 1;
            }
        }
    }
    .header-social {
        margin-left: 10px;
        padding-left: 23px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 11px;
            display: inline-block;
            left: 0;
            top: calc(50% - 5px);
            background: rgba(255, 255, 255, 0.1);
        }
        li {
            &:not(:last-child) {
                margin-right: 1px;
            }
            a {
                font-size: 11px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                background-color: rgba(0, 0, 0, 0.2);
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    .notification {
        position: relative;
        a {
            &.au-notice {
                position: relative;
                top: 2px;
                color: rgba(255, 255, 255, 0.5);
                span.notifi-count {
                    position: absolute;
                    background: #CC3341;
                    border-radius: 3px;
                    color: #fff;
                    text-align: center;
                    font-weight: 600;
                    font-size: 10px;
                    top: -8px;
                    left: 12px;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                }
            }
            i {
                font-size: 20px;
            }
        }
        .list-notifications {
            left: 50%;
            transform: translateX(-50%);
            min-width: 250px;
            position: absolute;
            top: 100%;
            z-index: 9999999999;
            visibility: hidden;
            ul {
                margin-top: 12px;
                box-shadow: 0 15px 50px rgba(41, 128, 185, 0.15);
                background-color: #34495e;
                border-radius: 5px;
                padding: 0 30px 0;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: -9px;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-bottom: 9px solid #34495e;
                    border-right: 10px solid transparent;
                    transform: translateX(-50%);
                }
            }
            li {
                a {
                    display: block;
                    color: #ffffff;
                    font-size: 13px;
                    font-weight: 600;
                    position: relative;
                    text-align: left;
                    padding: 0;
                    transition: padding 0.3s ease 0s;
                    cursor: pointer;
                    line-height: 21px;
                    i {
                        margin-right: 25px;
                        font-size: 16px;
                        position: relative;
                        top: 2px;
                    }
                    span {
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
                &:not(:last-child) a {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                }
            }
        }
        &:hover {
            .list-notifications {
                visibility: visible;
                li a {
                    padding: 17px 0;
                    position: relative;
                    display: flex;
                }
            }
        }
    }
    .register-login {
        position: relative;
        >a {
            color: #fff;
            padding: 2px 16px;
            display: inline-block;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.1);
            display: inline-block;
            width: 78.5px;
            height: 24px;
            transition: all 0.3s;
            z-index: -1;
        }
        &.login-active:after {
            transform: translateX(75px);
            width: 61.5px;
        }
    }
    .header-nav {
        background: transparent;
        border: none;
        padding: 0 100px;
        font-weight: 600;
        margin: 0;
        position: relative;
        border-radius: 0;
        .au-logo {
            padding-top: 5px;
            .logo-mobile {
                display: none;
            }
        }
        .header-nav-inner {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .au-switch-language {
            display: none;
        }
        .notification {
            display: none;
        }
        .au-action-btn {
            height: 110px;
            display: flex;
            align-items: center;
            >div {
                display: inline-block;
                overflow: hidden;
                &.au-post-a-job a {
                    background-color: #33aa58;
                }
                &.buy-service-button a {
                    background-color: #2980b9;
                }
            }
            a.action-button {
                display: inline-block;
                margin: 0 0 0 15px;
                border-radius: 5px;
                padding: 0 20px;
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
                color: #2980b9;
                span {
                    color: white;
                    display: inline-block;
                    height: 46px;
                    line-height: 46px;
                    padding: 0;
                    position: relative;
                    text-transform: uppercase;
                    transition: transform 0.3s ease 0s;
                    font-weight: 600;
                    &:after {
                        content: attr(data-hover);
                        left: 0;
                        padding: 0;
                        position: absolute;
                        top: 100%;
                        transform: translate3d(0px, 0px, 0px);
                        visibility: hidden;
                    }
                }
                i {
                    color: #fff;
                    margin-right: 15px;
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                }
                &:hover {
                    span {
                        transform: translateY(-100%);
                        &:after {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .header-btn-action {
        display: flex;
        align-items: center;
        margin-left: 80px;
    }
    .au-header-search {
        height: 110px;
        text-align: center;
        margin: 0 0 0 10px;
        font-size: 14px;
        position: relative;
        display: flex;
        align-items: center;
        .search-form {
            display: inline-block;
            input {
                width: 0;
                padding: 0;
                margin: 0;
                border: none;
                color: #ffffff;
                position: absolute;
                height: 36px;
                line-height: 34px;
                right: -10px;
                top: calc(50% - 18px);
                border-radius: 36px;
                z-index: 9;
                overflow: hidden;
                transition: width 0.3s linear 0s, right 0.3s linear 0s;
                background-color: #2980b9;
                &::-webkit-input-placeholder {
                    color: #fff;
                }
            }
            span.icon {
                cursor: pointer;
                position: relative;
                z-index: 10;
                color: #ffffff;
                i {
                    margin-bottom: 5px;
                }
            }
        }
        &.show-search-box {
            .search-form {
                input {
                    width: 250px;
                    padding: 2px 30px;
                    color: #ffffff;
                }
            }
        }
    }
    .au-author-mobile {
        display: none;
    }
    &.header-sticky {
        background-color: #34495E;
        .header-top-bar {
            visibility: hidden;
            padding-top: 0;
            padding-bottom: 0;
            height: 0;
            overflow: hidden;
        }
        .au-header-menu {
            .main-menu {
                >ul>li>a {
                    height: 80px;
                    line-height: 80px;
                }
            }
        }
        .au-header-search {
            height: 80px;
        }
        .header-nav {
            .au-action-btn {
                height: 80px;
            }
            .au-switch-language {
                display: block;
                margin-left: 0;
                &:after {
                    display: none;
                }
            }
            .au-logo {
                padding-top: 0;
            }
        }
    }
}

.top-bar-right {
    color: #fff;
    .notification {
        margin: 0 20px;
        position: relative;
    }
    .au-switch-language {
        margin-top: -5px;
    }
    .header-social {
        margin-top: -5px;
    }
}

.off-canvas-btn {
    display: none;
}

.au-header-menu {
    display: flex;
    align-items: center;
    .main-menu {
        >ul {
            display: flex;
            >li {
                display: inline-block;
                &.active {
                    >a:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        opacity: 1;
                        background-color: #2980b9;
                    }
                }
                >a {
                    display: inline-block;
                    color: #ffffff;
                    height: 110px;
                    line-height: 110px;
                    padding: 0 25px;
                    text-transform: uppercase;
                    background: transparent;
                    position: relative;
                    outline: none;
                    font-weight: 600;
                }
                &:hover {
                    >a::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        opacity: 1;
                        background-color: #2980b9;
                    }
                }
            }
        }
        li {
            position: relative;
            .sub-menu {
                visibility: hidden;
                box-shadow: 0 15px 50px rgba(41, 128, 185, 0.15);
                background-color: #34495e;
                border-radius: 5px;
                position: absolute;
                top: 100% !important;
                left: 0;
                z-index: 100;
                width: 250px;
                li a {
                    display: block;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 0 30px;
                    position: relative;
                    text-transform: uppercase;
                    transition: padding 0.3s linear;
                    line-height: 28px;
                    &:hover {
                        color: #2980b9;
                    }
                }
                >li {
                    &:not(:last-child)>a:after {
                        content: "";
                        position: absolute;
                        width: calc(100% - 60px);
                        left: 30px;
                        bottom: 0;
                        height: 1px;
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
            &:hover {
                .sub-menu {
                    visibility: visible;
                    >li {
                        >a {
                            padding: 14px 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .header {
        .header-top-bar,
            {
            padding-left: 30px;
            padding-right: 30px;
        }
        .header-nav {
            padding-left: 30px;
            padding-right: 30px;
            .au-action-btn {
                a.action-button {
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    overflow: visible;
                    span {
                        display: none;
                    }
                    i {
                        top: 0;
                        margin: 0;
                    }
                }
            }
        }
        .au-header-search {
            margin-right: 20px;
        }
    }
}

@media (max-width: 1360px) {
    .au-header-menu {
        .main-menu {
            >ul {
                >li {
                    a {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .header {
        .header-top-bar {
            .top-bar-left {
                .contact {
                    >span:last-child {
                        display: none;
                    }
                }
            }
        }
        .au-header-search {
            margin: 0;
        }
        .header-btn-action {
            margin-left: 0;
        }
        .header-nav {
            .au-action-btn {
                a.action-button {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
    .au-header-menu {
        .main-menu {
            >ul {
                >li {
                    a {
                        padding: 0 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .top-bar-right {
        .notification {
            margin: 0 10px;
        }
    }
}

@media (max-width: 991px) {
    .au-header-menu {
        display: none;
    }
    .top-bar-right {
        .au-switch-language {
            display: none;
        }
        .header-social {
            display: none;
        }
    }
    .header {
        position: absolute;
        .header-btn-action {
            .au-switch-language {
                display: block;
                margin-left: 0;
                &:after {
                    display: none;
                }
                .language-item.language-current-item {
                    padding-left: 0;
                }
            }
            .btn-action-wrap {
                display: flex;
                align-items: center;
            }
            .off-canvas-btn {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                margin-left: 10px;
                font-size: 16px;
                color: #ffffff;
                border-radius: 5px;
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
                background-color: #2980b9;
            }
        }
        .header-nav {
            .au-logo {
                .logo-desktop {
                    display: none;
                }
                .logo-mobile {
                    display: block;
                }
            }
        }
    }
    .canvas-menu-open {
        .au-overlay {
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            z-index: 99999;
            display: inline-block;
        }
        .wrapper {
            right: 240px;
        }
        .off-canvas-menu {
            right: 0;
        }
    }
}

@media (max-width: 767px) {
    .header {
        .header-top-bar {
            display: none;
        }
        .header-nav {
            .header-btn-action {
                height: 80px;
                .off-canvas-btn {
                    line-height: 32px;
                    height: 32px;
                    width: 32px;
                }
            }
            .notification {
                display: block;
                height: 32px;
                line-height: 32px;
                a.au-notice {
                    top: 0;
                }
                > a {
                    margin-right: 15px;
                }
                a {
                    i {
                        font-size: 25px;
                        color: #fff;
                    }
                }
            }
            .au-action-btn {
                a.action-button {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                }
            }
            .au-author-mobile {
                display: flex;
                > div {
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    a.action-button {
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        margin: 0 0 0 10px;
                        border-radius: 5px;
                        box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
                        color: #fff;
                        &.login {
                            background-color: #33aa58;
                        }
                    }
                }
            }
            
        }
        
    }
}

@media (max-width: 480px) {
    .header {
        .header-nav {
            .au-action-btn {
                display: none;
            }
            .notification {
                > a {
                    margin-right: 0;
                }
                a.au-notice span.notifi-count {
                    display: none;
                }
            }
        }
        .header-btn-action {
            .au-switch-language {
                .language-item.language-current-item {
                    padding-right: 0;
                    img {
                        margin-right: 15px;
                    }
                    span {
                        display: none;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}