// funfact
.au-item-info {
    text-align: center;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    .au-item-info-inner {
        padding-left: 30px; 
        padding-right: 30px; 
    }
    .sub-title {
        font-family: "Playfair Display";
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
    }
    .title {
        line-height: 1.6;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 12px 0 25px;
        color: #fff;
    }
    .description {
        font-size: 13px;
        font-style: normal;
        line-height: 25px;
        margin: 0 auto;
        width: 35%;
    }
    .item-readmore {
        color: #fff;
        background-color: #2980b9;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        text-align: right;
        text-transform: uppercase;
        padding: 15px 30px;
        display: inline-block;
        margin-top: 55px;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 0;
        &:hover {
            opacity: 0.9;
        }
        i {
            font-size: 18px;
            margin-right: 10px;
        }
        &.success {
            background-color: #33aa58;
        }
    }
}

@media (max-width: 991px) {
    .au-item-info .description {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .au-item-info .au-item-info-inner {
        padding: 80px 20px;
    }
}