// Loading Page
#preview-area {
	height: 100%;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
	background: #1abc9c;
}

#preview-spinners {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 60px;
	right: 0;
	margin: auto;
}

.sk-chasing-dots {
	margin: 40px auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;
	animation: sk-chasingDotsRotate 2s infinite linear;
	.sk-child {
		width: 60%;
		height: 60%;
		display: inline-block;
		position: absolute;
		top: 0;
		background-color: #fff; //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 100%;
		animation: sk-chasingDotsBounce 2s infinite ease-in-out;
	}
	.sk-dot2 {
		top: auto;
		bottom: 0;
		animation-delay: -1s;
	}
}

@keyframes sk-chasingDotsRotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chasingDotsBounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}