$facebook-color: #3b5998;
$twitter-color: #0084B4;
$google-plus-color: #DB4437;
$linkedin-color: #006fa6;
* {
    outline: none;
}

html,
body {
    font-size: 13px;
    font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

section {
    overflow: auto;
}

strong {
    font-weight: bold;
}

.theme-color {
    color: #2980b9 !important;
}

.theme-bg {
    background-color: #2980b9 !important;
    color: #fff !important;
}

// wrapper 
.wrapper {
    position: relative;
    right: 0;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

// Social media
.social-media {
    li {
        display: inline-block;
        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            line-height: 25px;
            text-align: center;
            &:hover {
                color: #fff !important;
            }
            &.facebook {
                color: $facebook-color;
                &:hover {
                    background-color: $facebook-color;
                }
            }
            &.twitter {
                color: $twitter-color;
                &:hover {
                    background-color: $twitter-color;
                }
            }
            &.google-plus {
                color: $google-plus-color;
                &:hover {
                    background-color: $google-plus-color;
                }
            }
            &.linkedin {
                color: $linkedin-color;
                &:hover {
                    background-color: $linkedin-color;
                }
            }
        }
    }
}

//  heading
.au-heading {
    text-align: center;
    .au-title {
        color: #333333;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 49px;
        margin: 0 0 18px;
    }
    .au-description {
        color: #333333;
        font-size: 18px;
        line-height: 24px;
    }
    .star {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        height: 44px;
        margin-bottom: 5px;
        i {
            margin: 0 5px;
            &:nth-child(2) {
                font-size: 35px;
                font-weight: 500;
                line-height: 40px;
            }
        }
    }
    &.style-1 {
        color: #fff;
        .au-title {
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
        }
    }
    &.style-2 {
        .au-title, .au-description {
            color: #fff;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        max-width: 1200px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: unset;
    }
}