.off-canvas-menu {
	display: none;
	position: fixed;
	top: 0;
	right: -240px;
	z-index: 999999;
	width: 240px;
	height: 100%;
	display: block;
	background: #34495e;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease;
	ul {
		margin: 0;
		padding: 0;
	}
	.canvas-menu {
		li {
			list-style: none;
			&.active {
				> a {
					color: #2980b9;
				}
			}
			> a {
				border-bottom: 1px solid rgba(255,255,255,0.05);
				color: #ffffff;
				display: block;
				font-size: 11px;
				font-weight: 600;
				line-height: 50px;
				margin: 0;
				position: relative;
				padding: 0 20px;
				text-transform: uppercase;
				outline: none !important;
				&:hover {
					color: #2980b9;
				}
			}
		}
		.icon-arrow {
			right: 0;
			top: 0;
			position: absolute;
			float: right;
			padding: 0 10px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform 0.3s linear 0s;
		}
		.icon-arrow::before {
			color: #ffffff;
			content: "\f35f";
			font-family: Ionicons;
			margin: 0 10px;
		}
		.sub-menu {
			> li.open .icon-arrow {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(180deg);
			}
			li > a {
				border-bottom: none;
				padding: 0 40px;
			}
			.sub-menu li > a {
				padding: 0 60px;
			}
		}
		> li.open {
			border-width: 0 0 1px 0;
			border-style: solid;
			> a {
				border: none;
				.icon-arrow {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: rotate(180deg);
				}
			}
		}
	}
	h2.canvas-menu-title {
		border-bottom: 1px solid rgba(255,255,255,0.05);
		color: #ffffff;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		margin: 0;
		padding: 10px 18px;
		text-transform: uppercase;
	}
}
.off-canvas-btn {
	display: none;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
#off-canvas-close i {
	color: #ffffff;
	position: absolute;
	right: 21px;
	top: 20px;
	font-size: 12px;
}