// post
.post-item {
    margin-bottom : 30px;
    .post-image {
        position: relative;
        img  {
            width: 100%;
        }
        .post-category {
            position: absolute;
            top: 22px;
            left: 32px;
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
            font-size: 11px;
            font-weight: 600;
            line-height: 15px;
            display: inline-block;
            padding: 2px 9px;
            a {
                color: #fff;
            }
        }
    }
    .post-content {
        padding: 33px 40px 0;
        background-color: #fff;
        box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
        h3.post-title {
            margin: 0 0 15px;
            a {
                color: #333333;
                font-size: 18px;
                line-height: 24px;
                margin: 0 0 15px;
                &:hover {
                    color: #2980b9;
                }
            }
        }
        .post-description {
            font-size: 13px;
            line-height: 25px;
            margin-bottom: 22px;
            color: #777;
        }
        .post-bottom {
            padding: 19px 0 25px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
        }
        .post-author {
            color: #333333;
            font-size: 11px;
            line-height: 25px;
            a {
                color: #333333;
                font-weight: 600;
                text-transform: uppercase;
                &:hover {
                    color: #2980b9;
                }
            }
        }
        .post-read-more {
            font-size: 11px;
            font-weight: 600;
            line-height: 25px;
            display: inline-block;
            text-transform: uppercase;
            color: #2980b9;
            i {
                margin-left: 10px;
            }
        }
    }
}