// princing table
.au-princing-tables {
    .princing-item {
        margin-bottom: 30px;
        margin-top: 60px;
        &.featured-item {
            margin-top: 0;
            .item-top {
                height: 290px;
            }
        }
    }
    .owl-stage .owl-item:nth-child(even) .princing-item {
        box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
    }
}

.princing-item {
    &.simple {
        .item-top-bg,.buy-now  {
            background-color: #16a085;
        }
    }
    &.premium {
        .item-top-bg,.buy-now  {
            background-color: #e67e22;
        }
    }
    &.advanced {
        .item-top-bg,.buy-now {
            background-color: #34495e;
        }
    }
    .item-top {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        z-index: 0;
        overflow: hidden;
        height: 230px;
        .item-top-bg {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.9;
            z-index: -1;
        }
        .item-top-content {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            right: 0;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            padding: 46px;
        }
    }
    .item-bottom {
        padding: 30px;
        background-color: #ffffff;
        ul {
            li {
                color: #333333;
                font-size: 15px;
                line-height: 50px;
                height: 50px;
                background-color: #F6F7F9;
                margin-bottom: 15px;
                strong {
                    font-size: 20px;
                    line-height: 27px;
                    margin-right: 20px;
                    position: relative;
                    top: 2px;
                    display: inline-block;
                    width: 32%;
                    text-align: right;
                    color: #2980b9;
                }
            }
        }
    }
    .star {
        font-size: 21px;
        font-weight: 500;
        line-height: 23px;
        height: 45px;
        margin-bottom: 15px;
        i {
            margin: 0 5px;
            &:nth-child(2) {

                font-size: 36px;
                font-weight: 500;
                line-height: 40px;
            }
        }
    }
    .sub-title {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 5px;
        line-height: 15px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .title {
        font-size: 36px;
        font-weight: bold;
        line-height: 49px;
        margin: 0 0 15px;
        text-transform: uppercase;
        color: #fff;
    }
    .price {
        font-size: 36px;
        font-weight: bold;
        line-height: 49px;
    }
    .buy-now {
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        line-height: 19px;
        padding: 20px 17px;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        border-radius: 5px;
        margin: 15px 0 5px;
        position: relative;
        z-index: 0;
        text-align: center;
        &:hover {
            opacity: 0.9;
        }
    }
}