// spacing
@for $i from 0 through 75 {
    .px-#{$i*5} {
        padding-left: $i*5 +px;
        padding-right: $i*5 +px;
    }
    .py-#{$i*5} {
        padding-top: $i*5 +px;
        padding-bottom: $i*5 +px ;
    }
    .p-l-#{$i*5} {
        padding-left: $i*5 +px ;
    }
    .p-t-#{$i*5} {
        padding-top: $i*5 +px ;
    }
    .p-r-#{$i*5} {
        padding-right: $i*5 +px ;
    }
    .p-b-#{$i*5} {
        padding-bottom: $i*5 +px ;
    }
    .mx-#{$i*5} {
        margin-left: $i*5 +px ;
        margin-right: $i*5 +px ;
    }
    .my-#{$i*5} {
        margin-top: $i*5 +px ;
        margin-bottom: $i*5 +px ;
    }
    .m-l-#{$i*5} {
        margin-left: $i*5 +px ;
    }
    .m-t-#{$i*5} {
        margin-top: $i*5 +px ;
    }
    .m-r-#{$i*5} {
        margin-right: $i*5 +px ;
    }
    .m-b-#{$i*5} {
        margin-bottom: $i*5 +px ;
    }
}