// tabs
.au-tabs {
    overflow-y: hidden;
    transition: all 0.2s linear 0s;
    margin: 0 -15px;
    .au-tab-items {
        text-align: center;
        margin-bottom: 35px;
        .au-tab-items-bg {
            display: inline-block;
            padding: 3px;
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            box-shadow: 0px 5px 25px rgba(41, 128, 185, 0.3);
            background-color: #2980b9;
        }
        .au-tab-item {
            display: inline-block;
            padding: 7px 50px;
            border-radius: 30px;
            cursor: pointer;
            font-weight: 600;
            text-transform: uppercase;
            color: #ffffff;
            line-height: 28px;
            &.active {
                position: relative;
                z-index: 20;
                background-color: #fff;
                .au-tab-title {
                    color: #2980b9;
                }
            }
        }
    }
    .au-tab-content {
        .au-tab-content-inner {
            position: relative;
        }
        .au-tab-item-content {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transition: all 0.2s linear 0s;
            &.active {
                opacity: 1;
                position: relative;
                z-index: 2;
            }
        }
    }
}

@media (max-width: 480px){
    .au-tabs .au-tab-items .au-tab-item {
        padding: 7px 20px;
    }
}