.slick-list {
    padding: 0 !important;
}
// testimonial
.au-testimonial {
    .au-testimonial-item {
        margin: 0 15px 55px;
        .testi-content {
            text-align: center;
            color: #333333;
            font-family: "Playfair Display";
            font-size: 24px;
            font-style: italic;
            line-height: 40px;
            position: relative;
            &:before {
                content: '“';
            }
            &:after {
                content: '”';
            }
        }
    }
    .au-slick-client-item {
        text-align: center;
        &.slick-current {
            .testi-image {
                padding: 0;
                box-shadow: 0 3px 7px 0 rgba(74, 144, 226, 0.2);
                opacity: 1;
            }
            .testi-client-name,
            .testi-client-position {
                visibility: visible;
            }
        }
        .testi-image {
            height: 110px;
            width: 110px;
            border-radius: 50%;
            opacity: 0.2;
            overflow: hidden;
            margin: 0 auto 22px;
            padding: 20px;
            transition: all 0.3s ease 0s;
            img {
                width: 100%;
                border-radius: 50%;
                vertical-align: middle;
            }
        }
        .testi-client-name {
            color: #333333;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 5px;
            visibility: hidden;
        }
        .testi-client-position {
            opacity: 0.5;
            color: #333333;
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
            text-transform: uppercase;
            visibility: hidden;
        }
    }
}

.au-rating-star {
    position: relative;
    color: #f6ab09;
    text-align: center;
    height: 20px;
    width: 104px;
    font-size: 18px;
    margin: 30px auto 30px;
    &:after {
        content: "\f2fc \f2fc \f2fc \f2fc \f2fc";
        font-family: "Ionicons";
        left: 0;
        position: absolute;
        top: 0;
        letter-spacing: 10px;
        font-size: 20px;
    }
}