// work-step
.au-work-step {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    z-index: 0;
    .icon {
        position: relative;
        display: inline-block;
        z-index: 2;
        .count-step {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            font-size: 11px;
            font-weight: bold;
            line-height: 26px;
            height: 26px;
            width: 26px;
            background-color: #FFFFFF;
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
            border-radius: 50%;
        }
        i {
            display: inline-block;
            height: 80px;
            width: 80px;
            background-color: #16A085;
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 500;
            line-height: 80px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            margin-bottom: 25px;
        }
    }
    .info-wrap {
        padding: 0 25px;
    }
    .title {
        color: #333333;
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        margin: 0 0 10px;
    }
    .description {
        color: #777;
        font-size: 13px;
        line-height: 25px;
    }
}

.au-works-step {
    .owl-stage .owl-item {
        &:nth-child(odd) .au-work-step:after {
            border-radius: 50%;
            border-top: 1px dashed #999999;
            content: "";
            height: 173px;
            left: 50%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }
        &:nth-child(even) .au-work-step:after {
            border-radius: 50%;
            border-bottom: 1px dashed #999999;
            content: "";
            height: 172px;
            left: 50%;
            position: absolute;
            top: -70px;
            width: 100%;
            z-index: -1;
        }
        &:last-child .au-work-step:after {
            display: none;
        }
        &:nth-child(1) .au-work-step {
            .icon {
                .count-step {
                    color: #2980b9;
                }
                i {
                    background: #2980b9;
                    box-shadow: 0 5px 25px 0 #2980b9;
                }
            }
        }
        &:nth-child(2) .au-work-step {
            .icon {
                .count-step {
                    color: #16a085;
                }
                i {
                    background: #16a085;
                    box-shadow: 0 5px 25px 0 #16a085;
                }
            }
        }
        &:nth-child(3) .au-work-step {
            .icon {
                .count-step {
                    color: #e67e22;
                }
                i {
                    background: #e67e22;
                    box-shadow: 0 5px 25px 0 #e67e22;
                }
            }
        }
    }
}